<launch>

   <!-- Launch Arguments -->
   <arg name="driving_station_dev_id" default="/dev/input/js0" />

   <!-- joy Node -->
   <node respawn="true" pkg="joy" type="joy_node" name="driving_station_joy_node">
      <param name="dev" type="string" value="$(arg driving_station_dev_id)"/>
      <param name="deadzone" value="0.0"/>
      <param name="autorepeat_rate" value="5.0"/>

   </node>

   <!-- Driving Wheel Launch File -->
   <include file="$(find teleop_control)/launch/driving_wheel.launch"/>

   <!-- Gear Shifter Launch File -->
   <include file="$(find teleop_control)/launch/gear_shifter_h_pattern.launch"/>

   <!-- Teleop Control Launch File -->
   <include file="$(find teleop_control)/launch/teleop_control.launch"/>

</launch>
