<launch>

   <!-- Launch Arguments -->
   <arg name="joy_dev_input" default="/dev/input/js1" />

   <!-- joy Node -->
   <node respawn="true" pkg="joy" type="joy_node" name="flight_stick">
      <param name="dev" type="string" value="$(arg joy_dev_input)"/>
      <param name="deadzone" value="0.0"/>
      <param name="autorepeat_rate" value="5.0"/>

      <remap from="flight_stick" to="joy_device"/>

   </node>

   <!-- Flight Joystick Node -->
   <node pkg="teleop_control"
         type="teleop_flight_stick_device"
         name="teleop_flight_stick_device">

      <param name="axis_throttle" value="1" type="int"/>
      <param name="axis_steering" value="2" type="int"/>

      <param name="button_deadman" value="0" type="int"/>
      <param name="button_turbo" value="1" type="int"/>

   </node>

</launch>
